/* super reset css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
html{
    font-size: 62.5%; /* 16 mult 62.5 = 10.000 rem*/
    color: #fff;
}
body{
    font: 1.6rem "Roboto Slab", sans-serif;
    margin: 0;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    background-color: #2b2a33;
}
h1,h2,h3,h4,h5,h6,
p,ul,ol,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* sélecteur universel */
*{
    box-sizing: border-box;
}
img{
    /* height: 100%;
    width:100%; */
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: var(--color-alert);
}
button{
        background-color: transparent;
        border: 0;
        padding: 0;
        font-size: inherit;
}
/* theme */
@font-face {
    font-family: '../font_main/icecreampartyregular';
    src: url('../font_main/icecreamparty-webfont.woff2') format('woff2'),
         url('../font_main/icecreamparty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header h1{
    font-size: 6rem;
    font-family: 'spongefont_squaretyperegular';
    line-height: 8.0rem;
    text-align: center;
    padding: .5rem;
}
header h1 .material-symbols-outlined{
    font-size: inherit;
    vertical-align: middle;
}
aside{
    max-width: 90rem;
    margin: 2rem auto;
    background-color: #fff; /* derriere l'image */
}
aside img{
    width: 100%;
    padding: 1rem; /* pourtour de l'image */
}
main{
    max-width: 120rem;
    margin: 0 auto 2rem;
}
main h2{
    font-family: '../font_main/icecreampartyregular';
    color: coral;
}
main section p{
    background-color: #42414d;
    padding: 1rem;
    border-radius: .5rem;
}
main section ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: #42414d;
    border-radius: .5rem;
    padding: 1rem;
}
main section ul li img{
    width: 100%;
}
main section.experiences-pro ul{
    display: block;
}

footer{
    margin: 2rem;
    text-align: center;
}